<extend name="Base/common2"/>

<block name="body">
    <div class="site-main" role="main">
        <include file="Public/stack-software"/>

        <div class="stack">
            <div class="stack-content  stack-content-thick">
                <div class="grid  grid-center">
                    <div class="cell  two-thirds  portable-one-whole">
                        <span id="search-tips-lead">
                            <p class="color-gray  text-center">
                                找到 <span id="results-count" class="results-count">{$total|default=0}</span>相关结果
                            </p>
                        </span>
                        <div id="search-tips-list">
                            <elt name="total" value="0">
                            <div class="island  island-info  island-inherit-color">
                                <h4 class="epsilon half-margin-bottom  weight-semibold">
                                    <i class="ss-info  icon-lead"></i>A few tips that might help you:
                                </h4>
                                <ul class="bullet-list">
                                    <li class="quarter-margin-bottom">Make sure all words are spelled correctly.</li>
                                    <li class="quarter-margin-bottom">If you are searching on a single, common word (<span class="italic">management, software, product, etc.</span>), try a more specific search.</li>
                                    <li class="quarter-margin-bottom">Try searching on a software category. <span class="italic">Example: Customer Relationship Management, Learning Management Systems, Electronic Medical Records, etc.</span></li>
                                    <li class="quarter-margin-bottom">Wrap your search in quotes to get an exact match. <span class="italic">Example: "Construction Estimating"</span></li>
                                </ul>
                            </div>
                            </elt>
                        </div>
                        <ol class="search-results">
                            <gt name="total" value="0">
                            <h3 class="milli  search-results-heading  ss-list  icon-lead">功能分类</h3>
                                <volist name="category" id="vo">
                                <li class="search-result <eq name='i' value='$total'>last-item</eq>">
                                    <h3 class="epsilon  weight-normal">
                                        <a href="{:U('Article/lists', array('category'=>$vo['id']))}">{$vo.title}</a>
                                    </h3>
                                    <p class="milli  color-gray  no-margin-bottom">{$vo.description}</p>
                                </li>
                                </volist>
                            </gt>

                            <gt name="doctotal" value="0">
                                <h3 class="milli  search-results-heading  ss-search  icon-lead">相关产品</h3>
                                <volist name="doclist" id="vo">
                                    <li class="search-result <eq name='i' value='$doctotal'>last-item</eq>">
                                        <div class="grid  grid-thin">
                                            <div class="cell  two-twelfths">
                                                <div class="listing-thumbnail-container">
                                                    <a href="{:U('Article/detail', array('id'=>$vo['id']))}" class="thumbnail  listing-thumbnail">
                                                        <img alt="Thycotic Software" src="{:get_cover($vo.cover_id)}"/>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="cell  ten-twelfths">
                                                <h3 class="epsilon  weight-normal">
                                                    <a href="{:U('Article/detail', array('id'=>$vo['id']))}">{$vo.title}</a>
                                                </h3>
                                                <p class="zeta  color-gray">by {$vo.company_name}</p>
                                                <p class="milli  color-gray  no-margin-bottom">{$vo.description}</p>
                                            </div>
                                        </div>
                                    </li>
                                </volist>
                            </gt>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>
</block>