<extend name="Base/common"/>

<block name="body">
  <div class="site-main" role="main">
    <div class="stack">
      <div class="stack-content">
        <div class="grid">
          <div class="cell  one-whole">
            <div class="page-heading  text-center">
              <h1 class="masthead-heading  weight-normal  half-margin-bottom">
                <span class="weight-bold">金马应用市场</span>
                功能列表
              </h1>
              <h2 class="delta  subheading">4000+分类，涵盖所有行业所需</h2>
            </div>
          </div>
          <div class="cell  two-thirds  portable-one-whole">
            <label class="epsilon  weight-semibold" for="category_search">您要找什么商业软件或服务?</label>
            <div class="alert  alert-info">
              <input id="category_search" type="search" name="search" value="{$keyword}" class="text-input" autofocus/>
            </div>
            <div class="browse  base-margin-bottom">
              <if condition="!empty($numcatelist) || !empty($catelist)">
              <div class="grid">
                <notempty name="numcatelist">
                <div class="cell  one-whole">
                  <div class="browse-group">
                    <div class="grid">
                      <div class="cell  one-eighth">
                        <div class="browse-alpha">#</div>
                      </div>
                      <div class="cell  seven-eighths">
                        <ol class="nav  browse-group-list">
                          <volist name="numcatelist" id="vo">
                          <li data-alias-name="{$vo['title']}">
                            <a href="{:U('Article/lists', array('category'=>$vo['id']))}">{$vo.title}</a>
                          </li>
                          </volist>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
                </notempty>
                <volist name="catelist" id="cate">
                  <div class="cell  one-whole">
                    <div class="browse-group">
                      <div class="grid">
                        <div class="cell  one-eighth">
                          <div class="browse-alpha">{$key}</div>
                        </div>
                        <div class="cell  seven-eighths">
                          <ol class="nav  browse-group-list">
                            <volist name="cate" id="vo">
                              <li data-alias-name="{$vo['title']}">
                                <a href="{:U('Article/lists', array('category'=>$vo['id']))}">{$vo.title}</a>
                              </li>
                            </volist>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </volist>
              </div>
                <else/>
              <div id="browse-no-results">
                <p>
                  <span class="epsilon  weight-semibold">没有找到您需要的软件或服务分类</span>
                  <br>请检查您输入，如果您找不到需要的分类， <a href="mailto:categories@capterra.com">请联系我们！</a>
                </p>
              </div>
              </if>
            </div>
          </div>
          <div class="cell  one-third  portable-one-whole">
            <div class="card  card-secondary">
              <h2 class="gamma  card-heading  weight-normal"><i class="ss-heart  icon-lead  delta"></i>热门分类</h2>
              <ul class="card-list">
                <volist name="hotlist" id="vo">
                  <li><a href="{:U('Article/lists', array('category'=>$vo['id']))}"
                         class="ss-navigateright">{$vo.title}</a></li>
                </volist>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</block>
<block name="footer">
  <script type="text/javascript">
      $('#category_search').keyup(function(event){
          if(event.keyCode===13){
              var keyword = $(this).val();

              if(keyword){
                  var jumpUrl = '/index.php?s=/Home/Article/catelist/keyword/' + keyword + '.html';
                  window.location.href = jumpUrl;
              }
          }
      });
  </script>
</block>