<extend name="Base/common"/>

<block name="body">
    <div class="site-main" role="main">
        <div class="stack  stack-bold">
            <div class="stack-content-thin">
                <nav>
                    <a href="#" class="ss-rows  toggle-section-nav"></a>
                    <ul class="nav  nav-block  nav-horizontal  section-nav">
                        <li><a href="/vendors">Vendors</a></li>
                        <li><a href="/vendors/sign-up" class="active">开发者注册</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="stack-exterior">
            <div class="stack-content  stack-content-thick">
                <div class="grid  grid-center">
                    <div class="cell  two-thirds  palm-one-whole">
                        <div class="island">
                            <h1 class="beta  masthead-heading  weight-semibold"> 提交信息<span
                                    class="orange-underline">免费</span> 录入您的商业应用</h1>
                            <h2 class="epsilon  subheading"> 提交应用经过金马网审核后将显示在金马网中，开发者将通过金马商业应用市场获取高质量的网络流量和销售线索。</h2>
                            <div class="quarter-margin-bottom">
                                <hr class="rule  no-margin-bottom">
                            </div>
                            <p class="micro"><span class="color-red">*</span> 必填项</p>
                            <form accept-charset="UTF-8" action="/vendors/sign-up" class="new_applicant"
                                  id="new_applicant" method="post" novalidate="novalidate">
                                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden"
                                                                                      value="&#x2713;"/><input
                                        name="authenticity_token" type="hidden"
                                        value="knQVAOP33swfDudpsGJyxLLlPs5E+L4/+iCGMEZX4Kc="/></div>
                                <h3 class="epsilon  weight-semibold"><i class="ss-buildings  icon-lead  color-blue"></i>开发者
                                </h3>
                                <div class="grid">
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_first_name">
                                            联系人 <span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_first_name"
                                                        name="applicant[first_name]" size="30" type="text"/>

                                    </div>
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_last_name">
                                            微信 <span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_last_name"
                                                        name="applicant[last_name]" size="30" type="text"/>

                                    </div>
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_email">
                                            Email <span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_email" name="applicant[email]"
                                                        size="30" type="email"/>

                                    </div>
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_phone">
                                            电话<span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_phone" name="applicant[phone]"
                                                        size="30" type="tel"/>

                                    </div>
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_company">
                                            公司名 <span class="color-red" title="Required Field"></span>
                                        </label> <input class="text-input" id="applicant_company"
                                                        name="applicant[company]" size="30" type="text"/>

                                    </div>
                                    <div class="cell  one-half  desk-omega-halves  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_url">
                                            网址 <span class="color-red" title="Required Field"></span>
                                        </label> <input class="text-input" id="applicant_url" name="applicant[url]"
                                                        size="30" type="url"/>

                                    </div>
                                    <div class="cell  one-whole">
                                        <hr class="rule  rule-dotted">
                                    </div>
                                </div>
                                <h3 class="epsilon  weight-semibold"><i class="ss-desktop  icon-lead  color-blue"></i>应用
                                </h3>
                                <div class="grid  grid-form-fields">
                                    <div class="cell  one-half  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_product_name">
                                            产品名 <span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_product_name"
                                                        name="applicant[product_name]" size="30" type="text"/>

                                    </div>
                                    <div class="cell  one-half  palm-one-whole  half-margin-bottom">
                                        <label class="label-heading" for="applicant_software_type">
                                            应用类型 <span class="color-red" title="Required Field">*</span>
                                        </label> <input class="text-input" id="applicant_software_type"
                                                        name="applicant[software_type]" size="30" type="text"/>

                                    </div>
                                    <div class="cell  one-whole  base-margin-bottom">
                                        <label class="label-heading" for="applicant_description">
                                            <span>应用简介 <span class="color-red" title="Required Field">*</span></span>
                                            <small class="additional  micro  color-gray">你还可以输入 <span
                                                    class="character-count  color-green">60</span> 个字.
                                            </small>
                                        </label> <textarea class="text-area  thin" cols="4" id="applicant_description"
                                                           maxlength="135" name="applicant[description]" rows="2">
</textarea>

                                    </div>

                                    <div class="cell  one-whole">
                                        <hr class="rule  rule-dotted">
                                    </div>
                                </div>

                                <hr class="rule  rule-dotted"/>
                                <div class="grid  grid-center">
                                    <div class="cell  one-half  palm-one-whole">
                                        <input class="button  button-positive  button-full" id="button-lead-form"
                                               name="commit" type="submit" value="提交，等待客服联系"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="cell  one-whole">
                        <div class="text-center">
                            <br>
                            <p class="epsilon"><i class="ss-user  icon-lead"></i><span class="weight-bold">有问题?</span>&nbsp;
                                点击右侧客服工具栏沟通或发Email给我们 <a href="mailto:lixin@youhuohuo.com">lixin@youhuohuo.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>