<!-- 返回顶层 -->
<a href="#" class="back-to-top  hide  micro">
    <i class="ss-up  icon-lead"></i>返回顶层
</a>

<!-- footer -->
<footer class="site-footer">
    <div class="stack-ground  footer-bottom">
        <div class="stack-content">
            <div class="grid">
                <div class="cell  two-fifths  palm-one-whole">
                    <p class="footer-heading">金马网</p>
                    <div class="grid">
                        <div class="cell  one-half">
                            <ul class="nav  milli">
                                <li><a href="/about">关于</a></li>
                                <li><a href="/customers">Customers</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a href="/team">Team</a></li>
                                <li><a href="/careers">Careers</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <div class="cell  one-half">
                            <ul class="nav  milli">
                                <li><a href="/general-review">Review Software</a></li>
                                <li><a href="http://blog.capterra.com">Blog</a></li>
                                <li><a href="/infographics">Infographics</a></li>
                                <li><a href="/resources">Resources</a></li>
                                <li><a href="/legal/privacy-policy">Legal</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cell  one-fifth  palm-one-half">
                    <p class="footer-heading">关注</p>
                    <ul class="nav  milli  footer-nav-social">
                        <li><a href="http://www.linkedin.com/company/capterra" target="_blank" class="ss-linkedin  ss-social-regular">LinkedIn</a></li>
                        <li><a href="http://twitter.com/capterra" target="_blank" class="ss-twitter  ss-social-regular">Twitter</a></li>
                        <li><a href="http://facebook.com/capterra" target="_blank" class="ss-facebook  ss-social-regular">Facebook</a></li>
                        <li><a href="https://plus.google.com/105632983816639835610/" target="_blank" class="ss-googleplus  ss-social-regular">Google+</a></li>
                        <li><a href="http://pinterest.com/capterra" target="_blank" class="ss-pinterest  ss-social-regular">Pinterest</a></li>
                        <li><a href="https://www.youtube.com/user/CapterraTV" target="_blank" class="ss-youtube  ss-social-regular">YouTube</a></li>
                    </ul>
                </div>
                <div class="cell  one-fifth  palm-one-half">
                    <p class="footer-heading">厂商入驻</p>
                    <ul class="nav  milli  footer-nav-vendors">
                        <li><a href="/vendors">Vendors</a></li>
                        <li><a href="/vendors/advertise">Advertise</a></li>
                        <li><a href="/vendors/testimonials">Testimonials</a></li>
                        <li><a href="/vendors/ppc-bid-calculator">PPC Bid Calculator</a></li>
                        <li><a href="{:U('User/register')}">Sign Up</a></li>
                        <li><a href="https://www.capterra.com/vp/login" class="ss-settings  color-yellow">Vendor Login</a></li>
                    </ul>
                </div>
                <div class="cell  one-fifth  palm-one-whole">
                    <p class="footer-heading">联系方式</p>
                    <ul class="nav  milli  footer-nav-social">
                        <li>地址：北京市海淀区五道口华清嘉园3#1706室<br>微信：13250954090<br>电话：010-52877148</li>
                        <li><a class="color-yellow" href="mailto:lixin@youhuohuo.com">lixin@youhuohuo.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>