<header class="site-header">
    <div class="site-header-content">
        <div class="grid">
            <div class="cell  one-half  palm-one-whole">
                <div class="site-logo-wrapper">
                    <a href="/"><img alt="Capterra Logo" class="site-logo" src="__IMG__/capterra-logo-58c3f648da5f7a9ea4415f6ab8184269.svg"/></a>
                    <span class="tagline  milli">商业应用市场</span>
                </div>
            </div>
            <div class="cell  one-half  palm-one-whole">
                <nav class="main-nav">
                    <ul class="nav  nav-horizontal  nav-block  search-bar-nav">
                        <li class="nav-categories"><a href="/categories" class="ss-list  nav-browse  ">功能列表</a></li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>