<div class="stack  stack-software">
    <div class="stack-content  stack-content-secondary">
        <div class="text-center">
            <h1 class="masthead-heading  color-white  quarter-margin-bottom  weight-normal">
                <span class="weight-bold">金马搜索</span>
            </h1>
            <h2 class="delta  color-white  subheading">
                快速查找相关应用.
            </h2>
        </div>
        <div class="grid  grid-center">
            <div class="cell  two-thirds  lap-two-thirds  palm-one-whole">
                <div class="base-margin-bottom">
                    <h3 class="search-mobile-label  color-white  weight-semibold  half-margin-bottom  text-center">
                        输入产品、功能、评论、详情等信息</h3>
                    <form action="{:U('Index/search')}" class="search" method="get">
                        <input autofocus="autofocus" value="{$search}" class="search-text-input  padding-right" id="main_search" maxlength="200" name="search" type="search" value="" placeholder="请在此输入产品、功能、评论、详情等信息"/>
                        <input class="search-icon" type="submit" value="搜索"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>