<extend name="Base/common2"/>

<block name="body">
    <div class="site-main" role="main">
        <include file="Public/stack-software"/>

        <div class="stack">
            <div class="stack-content  stack-content-thick">
                <div class="grid  grid-center">
                    <div class="cell  one-whole">
                        <h3 class="delta  weight-semibold  text-center  half-margin-bottom"><i
                                class="ss-heart  color-blue  icon-lead  epsilon"></i>Popular Software to Review</h3>
                        <hr class="rule  opacity-threequarters"/>
                        <div class="grid">
                            <div class="cell  one-third  portable-one-whole">
                                <div class="grid  grid-thin">
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/project-management-software/reviews/56808/Basecamp/Basecamp/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="Basecamp"
                                                     src="http://cdn0.capterra-static.com/logos/150/2030622.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/project-management-software/reviews/56808/Basecamp/Basecamp/new"
                                               class="no-underline  weight-semibold">Basecamp</a>
                                        </h3>
                                        <p class="zeta  color-gray">by Basecamp</p>
                                    </div>
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/enterprise-resource-planning-software/reviews/133519/Dynamics/Microsoft/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="Microsoft"
                                                     src="http://cdn0.capterra-static.com/logos/150/602.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/enterprise-resource-planning-software/reviews/133519/Dynamics/Microsoft/new"
                                               class="no-underline  weight-semibold">Dynamics</a>
                                        </h3>
                                        <p class="zeta  color-gray">by Microsoft</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell  one-third  portable-one-whole">
                                <div class="grid  grid-thin">
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/accounting-software/reviews/60410/FreshBooks/FreshBooks/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="FreshBooks"
                                                     src="http://cdn0.capterra-static.com/logos/150/2033484.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/accounting-software/reviews/60410/FreshBooks/FreshBooks/new"
                                               class="no-underline  weight-semibold">FreshBooks</a>
                                        </h3>
                                        <p class="zeta  color-gray">by FreshBooks</p>
                                    </div>
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/marketing-automation-software/reviews/82534/HubSpot%20Marketing%20Automation%20/HubSpot/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="HubSpot"
                                                     src="http://cdn0.capterra-static.com/logos/150/2051107-1435339345.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/marketing-automation-software/reviews/82534/HubSpot%20Marketing%20Automation%20/HubSpot/new"
                                               class="no-underline  weight-semibold">HubSpot Marketing Automation </a>
                                        </h3>
                                        <p class="zeta  color-gray">by HubSpot</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cell  one-third  portable-one-whole">
                                <div class="grid  grid-thin">
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/accounting-software/reviews/46497/QuickBooks/Intuit/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="Intuit"
                                                     src="http://cdn0.capterra-static.com/logos/150/2024771.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/accounting-software/reviews/46497/QuickBooks/Intuit/new"
                                               class="no-underline  weight-semibold">QuickBooks</a>
                                        </h3>
                                        <p class="zeta  color-gray">by Intuit</p>
                                    </div>
                                    <div class="cell  two-tenths  lap-one-eighth">
                                        <div class="listing-thumbnail-container  pop-software-thumb-container">
                                            <a href="/sales-force-automation-software/reviews/589/Salesforce/Salesforce%20com/new"
                                               class="thumbnail  listing-thumbnail">
                                                <img alt="Salesforce.com"
                                                     src="http://cdn0.capterra-static.com/logos/150/462.png"/>
                                            </a></div>
                                    </div>
                                    <div class="cell  eight-tenths  lap-three-eighths">
                                        <h3 class="epsilon  weight-normal  no-margin-bottom">
                                            <a href="/sales-force-automation-software/reviews/589/Salesforce/Salesforce%20com/new"
                                               class="no-underline  weight-semibold">Salesforce</a>
                                        </h3>
                                        <p class="zeta  color-gray">by Salesforce.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>